# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable surround': 'surround:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'surround'
      'submenu': [
        { 'label': 'surround', 'command': 'surround:surround' },
        { 'label': 'delete',   'command': 'surround:delete'}
      ]
    ]
  }
]
